<!--<div-->
<!--  class="w-full h-full absolute z-[9999] top-0 left-0 bottom-0 right-0 justify-center items-center transition bg-zinc-800 opacity-75"-->
<!--  [ngStyle]="{ 'display': loadingService.loading$.value ? 'flex' : 'none' }"-->
<!--&gt;-->
<!--  <span class="relative flex h-6 w-6">-->
<!--    <span class="relative inline-flex rounded-full h-6 w-6 bg-green-400"></span>-->
<!--    <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-green-500 opacity-75"></span>-->
<!--  </span>-->
<!--</div>-->

<div
        class="w-full h-full absolute z-[9999] top-0 left-0 bottom-0 right-0 justify-center items-center transition bg-zinc-800 opacity-75"
        [ngStyle]="{ 'display': loadingService.loading$.value ? 'flex' : 'none' }"
>
    <div class="bg-indigo-700 flex items-center px-6 py-2.5 rounded-lg text-white font-medium text-base">
        <svg class="mr-3 -ml-1 size-5 animate-spin text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
             viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor"
                  d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
            </path>
        </svg>
        Processing…
    </div>
</div>

